.buyer-dialog-buttons {
  float: right;
}

button {
  margin: .4em;
}

.image {
  padding: .3em;
  background-color: white;
  max-width: 300px;
  max-height: 450px;
}

.dialog{}

.dialog-image{
}

.dialog-text{
  padding: 2em;
}

.dialog-info{
  padding: 3em;
}

.dialog-info-price{
  color: rgba(0,0,0,.44);
  text-transform: uppercase;
}

.buyer-dialog-paragraph-price{
  font-size: 18px;
  font-weight: bold;
  padding-top: .4em;
}