<!-- <div style="color: aliceblue; height: 300px; margin-bottom: 16px">
  <div class="row">
    <app-introduction-component [title]="T1"></app-introduction-component>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
      <app-album-viewer></app-album-viewer>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
      <app-album-viewer></app-album-viewer>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
      <app-album-viewer></app-album-viewer>
    </div>
  </div>
</div> -->

<div class="card">
  <div class="card-header">
    <app-introduction-component
      [title]="contentToDisplay.content.sectionName"
    ></app-introduction-component>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let disp of contentToDisplay.content.allAlbuns ">
        <app-album-viewer [title]="disp.name" [urlImage]="disp.urlImage"></app-album-viewer>
      </div>      
    </div>
  </div>
</div>
