.background-image {
  padding: 0;
  margin: 0;
  min-width: 450px;
  min-height: 600px;
  max-width: 100%;
  max-height: 100%;
  background-image: none;
}

img {
  width: 300px;
  height: 450px;
}


@media only screen and (min-width: 175px) and (max-width: 575px) {
  #book {
    padding: 0.3em;
  }

  img {
    width: 369px;
    height: 490px;
  }
}

/*col*/
.test {
  background-color: aqua;
}

.relative {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
}

.absolute {
  position: absolute;
  width: 200px;
  height: 200px;
}