<div class="row d-flex justify-content-center">
  <div class="col-11 com-md-11 col-lg-11 col-sm-11">
    <div
      id="book"
      class="album-viewer text-center"
      *ngFor="let stick of allStickers"
    >
      <div class="my-page">
        <app-sticker
          [type]="stick.side"
          [urlImage]="stick.urlImage"
          [stickerContent]="stick.description"
          [hardnessType]="stick.isCover"
        >
          <!-- TODO BINDAR OS DADOS [data-density]="stick-density"  -->
        </app-sticker>
      </div>
    </div>
  </div>
</div>
