<owl-carousel-o class="page-background" id="custom1" [options]="customOptions">
  <ng-template carouselSlide>
    <div class="row slide">
      <app-front-cover [urlImage]="pages['cover']"></app-front-cover>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <app-sticker
        [urlImage]="pages['page1']"
        [stickerContent]="pagesContent['page1']"
        [leftSide]="true"
      ></app-sticker>
      <!-- <div><img class="sticker" src="../assets/images/image_1.png" /></div>
      <div><p class="sticker-text">SAMPLE TEXT</p></div> -->
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide slide-sticker">
      <app-sticker
        [urlImage]="pages['page1']"
        [stickerContent]="pagesContent['page1']"
        [rightSide]="controller"
      ></app-sticker>
      <app-sticker
        [urlImage]="pages['page1']"
        [stickerContent]="pagesContent['page1']"
        [downSide]="controller"
      ></app-sticker>
      <!-- <img class="sticker" src="../assets/images/image_2.png" />
      <p class="sticker-text">SAMPLE TEXT</p> -->
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide slide-sticker">
      <app-sticker
        [urlImage]="pages['page2']"
        [stickerContent]="pagesContent['page2']"
        [upSide]="controller"
      ></app-sticker>
      <!-- <img class="sticker" src="../assets/images/image_3.png" />
      <p class="sticker-text">SAMPLE TEXT</p> -->
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide slide-sticker">
      <app-sticker
        [urlImage]="pages['page3']"
        [stickerContent]="pagesContent['page3']"
        [downSide]="controller"
      ></app-sticker>
      <!-- <img class="sticker" src="../assets/images/image_4.png" />
      <p class="sticker-text">SAMPLE TEXT</p> -->
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide slide-sticker">
      <app-sticker
        [urlImage]="pages[page4]"
        [stickerContent]="pagesContent[page4]"
        [downSide]="controller"
      ></app-sticker>
      <!-- <img class="sticker" src="../assets/images/image_5_960x604.png" />
      <p class="sticker-text">SAMPLE TEXT</p> -->
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <!-- <img src="../assets/images/new_contra-min.png" /> -->
      <app-front-cover [urlImage]="pages['backCover']"></app-front-cover>
    </div>
  </ng-template>
</owl-carousel-o>



<script>
  $(".custom1").owlCarousel({
    animateOut: "slideOutDown",
    animateIn: "flipInX",
    items: 1,
    margin: 30,
    stagePadding: 30,
    smartSpeed: 450,
  });
</script>
