/* .slide {
  background-image: url("/assets/images/imagem_fundo_250x353.png");
  height: 75vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}



#custom1 {
  padding: 32px;
}

.sticker {
  position: absolute;
  transform: translate(0%, 0%);
}

.sticker-text {
  /* position: relative; 
}




.slide-sticker {
  fazer ocupar a página toda 

} 
*/

/* img {
  width: 440px;
  height: 380px;
  /* max-width: 380px;
  max-height: 440px; 
} */

.album-viewer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 12px;
}