/* .slide {
  background-image: url("/assets/images/imagem_fundo_250x353.png");
  height: 75vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}



#custom1 {
  padding: 32px;
}

.sticker {
  position: absolute;
  transform: translate(0%, 0%);
}

.sticker-text {
  /* position: relative; 
}




.slide-sticker {
  fazer ocupar a página toda 

} 
*/

img {
  width: 300px;
  height: 450px;
}

.my-page {
  background-image: url("../../../../assets/images/imagem_fundo_250x353.png");
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.album-viewer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#book {
  position: relative;
  left: 0;
  top: 0;
  padding: .8em;
}

.my-page:nth-child(odd) {
  background-image: url("../../../../assets/images/imagem_fundo_invertida_250x353.png");
}


@media only screen and (min-width: 175px) and (max-width: 575px) {
  #book {
    padding: 0.3em;
  }

  img {
    width: 369px;
    height: 490px;
  }
}

/*col*/