
.album-viewer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

#book {
  position: relative;
  left: 0;
  top: 0;
  padding: .8em;
}

.my-page {
  background-image: url("../../../assets/images/imagem_fundo_250x353.png");
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.my-page:nth-child(odd) {
  background-image: url("../../../assets/images/imagem_fundo_invertida_250x353.png");
}