.album-viewer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

#book {
  position: relative;
  left: 0;
  top: 0;
  padding: .8em;
}

.my-page {
  background-image: url("../../../assets/images/imagem_fundo_250x353.png");
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.my-page:nth-child(odd) {
  background-image: url("../../../assets/images/imagem_fundo_invertida_250x353.png");
}

/*O normal será o col-xl*/
@media screen and (min-width: 175px) and (max-width:575px) {
  #book {
    padding: .2em;
    margin: -45px 0px 0px 0px;
  }

}

/*col*/
@media screen and (min-width: 576px) and (max-width:767px) {}

/*col-sm*/
@media screen and (min-width: 768px) and (max-width:961px) {

  #book {
    margin: -200px 0px -60px 0;
  }
}
/*col-md*/
@media screen and (min-width: 962px) and (max-width:1199px) {
  #book {
    margin: 0px 0px 0px 0px;
  }
}

/*col-lg*/