<!-- <div class="test">
  <div class="row">
    <div class="col-12 col-md-10 justify-content-center">
      <div id="book" class="album-viewer">
        <div class="my-page background-cover" data-density="hard">
          page cover
        </div>

        <div class="my-page relative">
          <div class="absolute text-center text">
            this div element has position: absolute;
          </div>
          <div class="absolute image-center image">
            <div class="number">
              <div class="number-content">-1</div>
            </div>
          </div>
          <div class="absolute text-center text">
            this div element has position: absolute;
          </div>
        </div>

        <div class="my-page relative">
          <div class="absolute text">
            this div element has position: absolute; a a a a a a a a a a a a a a
            a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a
            a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a
            a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a
          </div>
          <div class="absolute image">
            <div class="number">
              <div class="number-content">0</div>
            </div>
          </div>
          <div class="absolute text text-right">
            this div element has position: absolute; a a a a a a a a a a a a a a
            a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a
            a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a
            a a a a a a a a
          </div>
          <div class="absolute image image-right">
            <div class="number">
              <div class="number-content">1</div>
            </div>
          </div>
        </div>

        <div class="my-page relative">
          <div class="absolute text-center-right text">
            this div element has position: absolute;
          </div>
          <div class="absolute image-center-left image">
            <div class="number">
              <div class="number-content">2</div>
            </div>
          </div>
          <div class="absolute text-center text">
            this div element has position: absolute;
          </div>
        </div>

        <div class="my-page">page four</div>
        <div class="my-page">
          <app-two-stickers
            [type]="stick.side"
            [urlimage]="stick.urlimage"
            [stickercontent]="stick.description"
            [hardnesstype]="stick.iscover"
            [typeof]="stick.type"
          >
          </app-two-stickers>
        </div>
        <div class="my-page">page six</div>
        <div class="my-page">page seven</div>
        <div class="my-page">page eight</div>
        <div class="my-page background-cover" data-density="hard">
          last page
        </div>
      </div>
    </div>
  </div>
</div> -->
