.album-viewer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 12px;
}

.my-page {
  text-align: center;
  background-color: violet;
  color: black;
}


.my-page:nth-child(odd) {
  background-color: rgb(9, 255, 0);
}

.background-cover {
  text-align: center;
  background-color: tomato;
  color: black;
}