<div class="">
  <div class="row">
    <div class="col-12 col-md-10 justify-content-center">
      <div id="book" class="album-viewer">
        <div class="my-page background-cover" data-density="hard">
          Page Cover
        </div>
        <div class="my-page">Page one</div>
        <div class="my-page">Page two</div>
        <div class="my-page">Page three</div>
        <div class="my-page">Page four</div>
        <div class="my-page background-cover" data-density="hard">
          Last page
        </div>
      </div>
    </div>
  </div>
</div>
