<div>
  <div *ngIf="controllerAsNumber == 0">
    <p class="">{{ stickerContent }}</p>
    <img
      class="image"
      [ngClass]="{ 'background-image': !hardnessType }"
      [src]="urlImage"
      alt=""
    />
  </div>
  <div *ngIf="controllerAsNumber == 3">
    <img
      class="image"
      [ngClass]="{ 'background-image': !hardnessType }"
      [src]="urlImage"
      alt=""
    />
    <p class="">{{ stickerContent }}</p>
  </div>
  <div *ngIf="controllerAsNumber == 2">
    <p class="">{{ stickerContent }}</p>
    <img
      class="image"
      [ngClass]="{ 'background-image': !hardnessType }"
      [src]="urlImage"
      alt=""
    />
  </div>
  <div *ngIf="controllerAsNumber == 1">
    <img
      class="image"
      [ngClass]="{ 'background-image': !hardnessType }"
      [src]="urlImage"
      alt=""
    />
    <p class="">{{ stickerContent }}</p>
  </div>
</div>
